[submodule "src/color-dired"]
	path = src/color-dired
	url = git://github.com/emacsmirror/color-dired.git
[submodule "src/virtualenv"]
	path = src/virtualenv
	url = git://github.com/emacsmirror/virtualenv.git
[submodule "src/python-extras"]
	path = src/python-extras
	url = git://github.com/emacsmirror/python-extras.git
[submodule "src/nose"]
	path = src/nose
	url = git://github.com/emacsmirror/nose.git
[submodule "src/haddoc"]
	path = src/haddoc
	url = git://github.com/emacsmirror/haddoc.git
[submodule "src/dpastede"]
	path = src/dpastede
	url = git://github.com/emacsmirror/dpastede.git
[submodule "src/anything-dired-history"]
	path = src/anything-dired-history
	url = git://github.com/emacsmirror/anything-dired-history.git
[submodule "src/pony-mode"]
	path = src/pony-mode
	url = git://github.com/davidmiller/pony-mode.git
[submodule "src/tea-time"]
	path = src/tea-time
	url = git://github.com/gabrielsaldana/tea-time.git
[submodule "src/pomodoro.el"]
	path = src/pomodoro.el
	url = git://github.com/vderyagin/pomodoro.el.git
