[submodule "src/python-mode"]
	path = src/python-mode
	url = git://github.com/emacsmirror/python-mode.git
[submodule "src/color-theme-sanityinc"]
	path = src/color-theme-sanityinc
	url = git://github.com/emacsmirror/color-theme-sanityinc.git
[submodule "src/color-dired"]
	path = src/color-dired
	url = git://github.com/emacsmirror/color-dired.git
[submodule "src/magit"]
	path = src/magit
	url = git://github.com/emacsmirror/magit.git
[submodule "src/virtualenv"]
	path = src/virtualenv
	url = git://github.com/emacsmirror/virtualenv.git
[submodule "src/slime"]
	path = src/slime
	url = git://github.com/emacsmirror/slime.git
[submodule "src/rainbow-mode"]
	path = src/rainbow-mode
	url = git://github.com/emacsmirror/rainbow-mode.git
[submodule "src/auto-complete"]
	path = src/auto-complete
	url = git://github.com/emacsmirror/auto-complete.git
[submodule "src/python-extras"]
	path = src/python-extras
	url = git://github.com/emacsmirror/python-extras.git
[submodule "src/nose"]
	path = src/nose
	url = git://github.com/emacsmirror/nose.git
[submodule "src/multi-project"]
	path = src/multi-project
	url = git://github.com/emacsmirror/multi-project.git
[submodule "src/haddoc"]
	path = src/haddoc
	url = git://github.com/emacsmirror/haddoc.git
[submodule "src/dpastede"]
	path = src/dpastede
	url = git://github.com/emacsmirror/dpastede.git
[submodule "src/anything-ipython"]
	path = src/anything-ipython
	url = git://github.com/emacsmirror/anything-ipython.git
[submodule "src/yasnippet"]
	path = src/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "src/autopair"]
	path = src/autopair
	url = git://github.com/emacsmirror/autopair.git
[submodule "src/twittering-mode"]
	path = src/twittering-mode
	url = git://github.com/emacsmirror/twittering-mode.git
